!!! 1.1
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title monologue
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/humanmsg.css'}
    %script{:type => 'text/javascript', :src => 'js/jquery-1.3.2.min.js'}
    
  %body
    #wrapper
      %h1 
        %a{:href => '/', :title => 'Back to homepage'} monologue
          
      #main= yield
      
      #sidebar
        %ul
          %li.credits
            %p
              monologue by
              %a{:href => 'http://onetruebrace.com', :title => 'one true brace'} QAD
              %br
              
              Prologue theme by 
              %a{:href => 'http://automattic.com/', :title => 'Automattic'} Automattic
              %br
              
              BUTTERY emoticons by
              %a{:href => 'http://www.rokey.net', :title => 'Rokey'} Rokey
              