%script{:type => 'text/javascript', :src => '/js/humanmsg.js'}
%script{:type => 'text/javascript', :src => '/js/spy.js'}
%script{:type => 'text/javascript', :src => '/js/read.js'}

%h2 Take a glance at what you have written&hellip;

.navigation
  %p{:style => 'text-align: right'}
    %a#pause{:href => '#', :title => 'Pause'} Pause
    %a#resume{:href => '#', :title => 'Resume', :style => 'display: none'} Resume

%ul#reader