%script{:type => 'text/javascript', :src => '../js/delete.js'}
%script{:type => 'text/javascript', :src => '../js/humanmsg.js'}

%h2
  = nice_time @post.created_at
  &middot;

  %a{:href => "/#{@post.id}", :title => 'Permalink to this entry'} # 
  &middot;

  %a{:href => "/edit/#{@post.id}", :title => 'Edit this entry'} e
  &middot;

  %a[@post, :delete]{:href => '#', :title => 'Delete this entry'} &times;
%ul 
  %li
    %h4
    .postcontent
      %p= @post.content
    .bottom_of_entry